*{
    margin: 0px;
    padding: 0px;
    
}
img{
    width: 100%;
}
nav{
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.918);
}
ul li {
    padding: 5px;
    font-size: small;
}


.p1{
    font-size: 60px;
    font-weight:600;
    
}
.p2{
    font-size: 25px;
    margin-top: -20px;
    }

    .pp1{
        font-size: 40px;
        font-weight:600;
        
    }
    .pp2{
        font-size: 15px;
        margin-top: -10px;
        }
        .slider{
            /* height: 300px; */
        }
        .footer {
            background-color: #f8f9fa;
            padding: 40px 0;
        }
        .footer h5 {
            margin-bottom: 20px;
        }
        .footer a {
            color: #6c757d;
            text-decoration: none;
        }
        .footer a:hover {
            text-decoration: underline;
        }
        .carousel-item {
            display: flex;
            justify-content: center;
        }
        .card {
            margin: 10px;
        } 
        .fixed {
            position: fixed;
            bottom: 20px;
            right: 20px;
            font-size: 40px;
            border-radius: 20px;
            
        }
        marquee{
            background-color: rgb(105, 186, 252);
            color: white;
            font-size: 20px;
        }
/* .parent{
    height: 500px;
    width: 100%;
    background-color: antiquewhite;
    position: absolute;
}
.child{
    height: 100px;
    width: 100px;
    background-color: aqua;
   position: relative;
    top: 10%;
    left: 0%;
    bottom: 10%;

} */